<div class="limit-bar">
  <h2>Limite do cartão:</h2>
  <div class="labels">
    <div class="limit-current">
      <div class="label">
        Utilizado:
      </div>
      <div class="value">
        <span class="currency">R$</span> 1.280,00
      </div>
    </div>
    <div class="limit-total">
      <div class="label">
        Disponível:
      </div>
      <div class="value">
        <span class="currency">R$</span> 10.000,00
      </div>
    </div>
  </div>
  <div class="bar">
    <div class="fill"></div>
  </div>
</div>
